.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.875em 0;
  align-items: center;
  justify-content: center;
}

.home-container h1 {
  margin-bottom: 0.675em;
  color: #9715e3;
  font-size: 2.75em;
  padding-top: 2.875em;
}

.name {
  background: linear-gradient(rgb(85, 22, 122), rgb(208, 139, 244));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-container span {
  color: #f9f0ffc2;
  margin-bottom: 1.125em;
}

.links {
  display: flex;
  flex-direction: column;
  max-width: 37.5em;
  width: 90%;
  text-align: center;
}

.link-area {
  background-color: #fff;
  width: 100%;
  margin-bottom: 1.125em;
  padding: 0.5em 0;
  user-select: none;
  border-radius: 0.25em;
  transition: transform 0.4s;
}

.link-area:hover {
  transform: scale(1.04);
}

.link-text {
  font-size: 1.125em;
  line-height: 150%;
  color: #28043f;
}

footer {
  display: flex;
  justify-content: center;
  gap: 0.875em;
  margin: 1.125em 0;
}

@media screen and (max-width: 550px) {
  .home-container h1 {
    font-size: 2rem;
    text-align: center;
  }

  .link-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .home-container h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .link-text {
    font-size: 0.875rem;
  }

  .social svg {
    width: 1.5rem;
  }
}